<!DOCTYPE HTML>

<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS-Weather</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
  </head>

  <body style="background: url('img/bg2.jpg') center center no-repeat; background-attachment: fixed;">

    <!-- Title -->
    <div class="container">
      <h2 class="title font">JS-Weather</h2>
    </div>
    <!-- Form Input -->
    <div class="container">
      <form class="form-horizontal font" action="/" method="post">
        <input type="text" class="form-control center" name="city" placeholder="Enter City">
        <input class="btn btn-default btn-lrg center" style="width: 12%; margin-top: 2.5%;" type="submit" value="Get Weather">
      </form>
    </div>

    <!-- Data Display -->
    <div class="container drop">
      <!-- Data Strings -->
      <% if(weather !== null) { %>
      <div class="data-string">
        <p class="space">It's <span id="temp"><%= weather %></span> degrees in <span id="city"><%= city %></span>!</p>
        <p class="space">With a humidity of <span id="humid"><%= humidity %></span> %</p>
        <p class="space">Cloud coverage is at <span id="cloud"><%= clouds %></span> %</p>
        <p class="space">And wind speed is gusting at <span id="wind"><%= wind %></span> mph!</p>
    </div>
    <!-- Data Images -->
    <div class="data-image">
      <img src=<%= picture %>>
    </div>
    <% } %>

    <% if(error !== null){ %>
      <p><%=error %></p>
    <% } %>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>


</html>
